body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 20px;
    text-align: center;
}
header ul{width:10%;
list-style:none;
display:flex;
justify-content:space-between;margin:30px 20px;}
ul a{border-bottom:2px solid transparent;color:white;
text-decoration:none;}

ul a:hover{border-bottom-color:white;}



section {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0d74d1;
}

footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.we ul{text-transform:uppercase;
}

.we p{text-transform:uppercase;
}

.we h2{text-transform:uppercase;font-size:30px;
}